{% extends 'base.html' %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'cadastro/css/cadastro.css' %}">

<div class="bg1">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="box-titulo">
          <div class="box-titulo-item">
            <img src="{% static 'usuarios/img/logoTwitter.png' %}" />
          </div>
          <div
            style="margin-top: auto; margin-bottom: auto"
            class="box-titulo-item"
          >
            <h3 class="text-white">Twitter</h3>
          </div>
        </div>
        <br />
        <div class="tac text-white">
          <h4 style="font-size: 30px">
            Veja o que está<br />
            acontecendo no mundo<br />
            agora
          </h4>
        </div>
      </div>
      <div class="col-md">
        <div class="box-form">
          <br />
          <h3>Participe hoje do Twitter</h3>
          <form class="box-form" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
          <br/>
          <div class="d-block">
            <div>
              <button type="submit" class="btn-cadastro">Cadastre-se</button>
              <a class="btn-cadastro-link" href="{% url 'login' %}">Login</a>
            <div>
              <small>Já tem conta, faça o login! Clique no botão de login...</small>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

